* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; /*a medida do tamanho da caixa será medido a partir da borda*/
}

/* html */
:root {
  --text-color: white;
  --bg-url: url(./assets/bg-desktop.jpg);
  --stroke-color: rgba(255, 255, 255, 0.5);
  --surface-color: rgba(255, 255, 255, 0.1);
  --surface-color-hover: rgba(255, 255, 255, 0.05);
  --highlight-color: rgba(255, 255, 255, 0.2);

  --bg-switch: url(./assets/MoonStars.svg);
}

.light {
  --text-color: black;
  --bg-url: url(./assets/bg-desktop-light.jpg);
  --stroke-color: rgba(0, 0, 0, 0.5);
  --surface-color: rgba(0, 0, 0, 0.1);
  --surface-color-hover: rgba(0, 0, 0, 0.02);
  --highlight-color: rgba(0, 0, 0, 0.2);

  --bg-switch: url(./assets/Sun.svg);
}

body {
  /* background: color image repeat position/size */
  background: var(--bg-url) no-repeat top center;
  height: 100vh;
}

body * {
  font-family: "Inter", sans-serif;
  color: var(--text-color);
}

#container {
  width: 100%;
  max-width: 588px;
  /* border: 3px solid red; */
  margin: 56px auto 0px; /* 56px em cima, auto na direita e esquerda e 0px embaixo */

  /*margin: auto - alinha uma caixa no meio da tela lados direito e esquerdo*/

  padding: 0px 24px; /*0 em cima e embaixo, 24 nos lados*/
  /* se eu coloco padding:100px, o CSS coloca 100px em todos os lados. Assim, não respeita mais o width: 360px.
  para resolver, coloca o box-sizing:border-box; no seletor universal (o da primeira linha)*/
}

/* profile */
#profile {
  text-align: center;
  /*border: 3px solid blue;*/
  padding: 24px;
}

#profile img {
  width: 112px;
  margin: auto;
  /*border: 2px solid yellow; */
}

#profile p {
  font-weight: 500;
  line-height: 24px;
  /* border: 2px solid aqua; */
  margin-top: 8px;
}

/* switch */
#switch {
  position: relative;
  width: 64px;
  margin: 4px auto;
}

#switch button {
  /* background: color image repeat position/size */
  width: 32px;
  height: 32px;
  background: white var(--bg-switch) no-repeat center;
  border: 0;
  border-radius: 50%;

  position: absolute;
  top: 50%;
  left: 0;
  z-index: 1;
  transform: translateY(-50%);

  animation: slide-back 0.2s;
}

.light #switch button {
  animation: slide-in 0.4s forwards;
}

#switch button:hover {
  outline: 8px solid var(--highlight-color);
}

#switch span {
  display: block;
  width: 64px;
  height: 24px;
  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 9999px;
}

/* links */
ul {
  list-style: none; /* tira os pontos ou números da lista*/
  /* border: 3px solid green; */
  /*  margin-left: 20px;  */
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px 0; /*24 top e bottom e 0 laterais*/
}

ul li a {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  align-items: center;

  background: var(--surface-color);
  border: 1px solid var(--stroke-color);
  border-radius: 8px;

  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);

  text-decoration: none; /* remove os estilos de uma tag a*/
  font-weight: 500;

  transition: background 0.2s;
}

ul li a:hover {
  background: var(--surface-color-hover);
  border: 1.5px solid var(--text-color);
}

/* social-links */
#social-links {
  display: flex;
  justify-content: center;
  padding: 24px 0;
  font-size: 24px;
}
#social-links a {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 16px;
  transition: background 0.2s;
  border-radius: 50%;
}

#social-links a:hover {
  background: var(--highlight-color);
}

footer {
  padding: 24px 0;
  text-align: center;
  font-size: 14px;
}

/* media queries -só funcionam se há a linha de viewport no html:
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  serve para trocar o fundo quando a largura for de 700px para cima. 
  Neste caso está a mesma url lá de cima, mas poderia ser outra.*/
@media (min-width: 700px) {
  :root {
    --bg-url: url(./assets/bg-desktop.jpg);
  }
  .light {
    --bg-url: url(./assets/bg-desktop-light.jpg);
  }
}

/* animation - para o botao deslizar */
@keyframes slide-in {
  from {
    left: 0;
  }
  to {
    left: 50%;
  }
}

@keyframes slide-back {
  from {
    left: 50%;
  }
  to {
    left: 0;
  }
}
